TaxaJurosTDD/obj/Debug/netcoreapp3.1/TaxaJurosTDD.csprojAssemblyReference.cache
TaxaJurosAPI/obj/Debug/netcoreapp3.1/TaxaJurosAPI.csprojAssemblyReference.cache
TaxaJurosTDD/obj/Debug/netcoreapp3.1/TaxaJurosTDD.csprojAssemblyReference.cache
CalculaJurosAPI/bin/Debug/netcoreapp3.1/CalculaJurosAPI.dll
CalculaJurosAPI/bin/Debug/netcoreapp3.1/CalculaJurosAPI.pdb
CalculaJurosAPI/obj/Debug/netcoreapp3.1/CalculaJurosAPI.csproj.CoreCompileInputs.cache
CalculaJurosAPI/obj/Debug/netcoreapp3.1/CalculaJurosAPI.csproj.FileListAbsolute.txt
CalculaJurosAPI/bin/Debug/netcoreapp3.1/CalculaJurosAPI.dll
CalculaJurosAPI/bin/Debug/netcoreapp3.1/CalculaJurosAPI.pdb
CalculaJurosAPI/obj/Debug/netcoreapp3.1/CalculaJurosAPI.csproj.CoreCompileInputs.cache
CalculaJurosAPI/obj/Debug/netcoreapp3.1/CalculaJurosAPI.csproj.FileListAbsolute.txt
TaxaJurosTDD/obj/Debug/netcoreapp3.1/TaxaJurosTDD.csprojAssemblyReference.cache
TaxaJurosAPI/obj/Debug/netcoreapp3.1/TaxaJurosAPI.csprojAssemblyReference.cache
CalculaJurosAPI/obj/Debug/netcoreapp3.1/CalculaJurosAPI.pdb
CalculaJurosAPI/obj/Debug/netcoreapp3.1/CalculaJurosAPI.dll
CalculaJurosAPI/obj/Debug/netcoreapp3.1/CalculaJurosAPI.csprojAssemblyReference.cache
CalculaJurosAPI/obj/Debug/netcoreapp3.1/CalculaJurosAPI.csproj.FileListAbsolute.txt
CalculaJurosAPI/obj/Debug/netcoreapp3.1/CalculaJurosAPI.csproj.CoreCompileInputs.cache
CalculaJurosAPI/bin/Debug/netcoreapp3.1/CalculaJurosAPI.pdb
CalculaJurosAPI/bin/Debug/netcoreapp3.1/CalculaJurosAPI.dll
/.vs
